@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --accent-color: hsl(211, 97%, 30%);
  --base-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 10%);
  --input-color: hsl(0, 0%, 100%);
}


/* =================================== */
        /* ALLMÄNNA STILAR */
/* =================================== */

/* --- Reset (nollställer marginaler) --- */
* {
  margin: 0;
  padding: 0;
}

/* --- Grundstil för hela dokumentet --- */
html {
  font-family: Roboto, sans-serif, Segoe UI;
  font-size: 1rem;
  color: var(--text-color);
  text-align: center;
}

/* --- Styling för body (bakgrund etc.) --- */
body {
  min-height: 100vh;
  background-image: url(blueish.jpg);
  background-size: cover;
  background-position: right;
  overflow: hidden;
}

/* --- Huvud-containern som omsluter allt --- */
.wrapper {
  box-sizing: border-box;
  background-color: var(--base-color);
  height: 100vh;
  width: max(40%, 600px);
  padding: 10px;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ===== Formulär ====*/


/* --- Huvudrubriken --- */
h1 {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

/* --- Själva formuläret --- */
form {
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* --- Rader i formuläret (label + input) --- */
form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* --- Ikonerna/Etiketterna (label) --- */
form label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  fill: var(--base-color);
  color: var(--base-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}

/* --- Inmatningsfälten (input) --- */
form input {
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--input-color);
  border-left: none;
  background-color: var(--input-color);
  transition: 150ms ease;
}

form input::placeholder {
  color: var(--text-color);
}

/* --- Interaktiva tillstånd för input --- */
form input:hover {
  border-color: var(--accent-color);
}

form input:focus {
  outline: none;
  border-color: var(--text-color);
}

/* Ändrar label-bakgrund när tillhörande input är i fokus */
div:has(input:focus) > label {
  background-color: var(--text-color);
}

/* --- Knappen --- */
form button {
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: .85em 4em;
  background-color: var(--accent-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
}

/* --- Interaktiva tillstånd för knappen --- */
form button:hover {
  background-color: var(--text-color);
  text-decoration: underline;
}

form button:focus {
  outline: none;
  background-color: var(--text-color);
}


/*=== LÄNKAR===*/

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  text-decoration: underline;
}


/* ====RESPONSIVITET==== */
/* --- Anpassning för mindre skärmar --- */
@media(max-width: 1100px) {
  .wrapper {
    width: min(600px, 100%);
    border-radius: 0;
  }

/* --- Errors --- */
}
form div.incorrect label{
    background-color: hsl(0, 100%, 42%);
}
form div.incorrect input{
    border-color: hsl(0, 100%, 42%);
}
#error-message{
color: hsl(0, 100%, 42%);
}