@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
--accent-color: hsl(211, 100%, 50%);
--base-color: hsl(0, 0%, 100%);
--text-color: hsl(0, 0%, 10%);
--input-color: hsl(0, 0%, 100%);
}
*{
margin: 0;
padding: 0;
}
html{
font-family: Roboto, sans-serif, Segoe UI;
font-size: 1rem;
color: var(--text-color);
text-align: center;
}
body{
min-height: 100vh;
background-image: url(blueish.jpg);
background-size: cover;
background-position: right;
overflow: hidden;
}
.wrapper{
    box-sizing: border-box;
    background-color: var(--base-color);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
font-size: 2rem;
font-weight: 900;
text-transform: uppercase;
}
form{
width: min(400px, 100%);
margin-top: 20px;
margin-bottom:50px;
display: flex;
flex-direction: column;
align-items: center;
gap 10px;
}
