@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --accent-color: hsl(211, 97%, 30%);
  --accent-color-dark: hsl(211, 97%, 20%);
  --base-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 10%);
  --input-color: hsl(210, 20%, 96%);
  --error-color: hsl(0, 100%, 42%);
}

/* =================================== */
        /* ALLMÄNNA STILAR */
/* =================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif, Segoe UI;
  font-size: 1rem;
  color: var(--text-color);
  text-align: center;
}

body {
  min-height: 100vh;
  background-image: url(blueish.jpg);
  background-size: cover;
  background-position: right;
  overflow: hidden;
}

.wrapper {
  background-color: var(--base-color);
  height: 100vh;
  width: max(40%, 600px);
  padding: 10px;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

/* ===== Formulär ====*/

h1 {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

form {
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

form label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background: linear-gradient(145deg, var(--accent-color), var(--accent-color-dark));
  fill: var(--base-color);
  color: var(--base-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  transition: background 300ms ease-in-out;
}

form input {
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--input-color);
  border-left: none;
  background-color: var(--input-color);
  transition: border-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

form input::placeholder {
  color: hsl(0, 0%, 55%);
}

form input:hover {
  border-color: var(--accent-color);
}

form input:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 0 3px hsla(211, 97%, 30%, 0.2);
}

div:has(input:focus) > label {
  background: linear-gradient(145deg, var(--text-color), black);
}

form button {
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: .85em 4em;
  background: linear-gradient(145deg, var(--accent-color), var(--accent-color-dark));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

form button:hover {
  background: linear-gradient(145deg, var(--text-color), black);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

form button:active {
  transform: translateY(0);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* === LÄNKAR === */

a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

/* === RESPONSIVITET === */
@media(max-width: 1100px) {
  .wrapper {
    width: min(600px, 100%);
    border-radius: 0;
    box-shadow: none;
  }
}

/* === Errors === */
form div.incorrect label {
    background: var(--error-color);
}

form div.incorrect input {
    border-color: var(--error-color);
    box-shadow: 0 0 0 3px hsla(0, 100%, 42%, 0.2);
}

#error-message {
  color: var(--error-color);
  font-weight: 500;
}